body {
  background: #d2ccc5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.Calculator {
  background-color: #333;
  width: 350px; 
  min-height: 450px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keypad-row {
  display: flex;
  justify-content: center;
  gap: 10px; 
  width: 100%;
  margin-bottom: 10px;
}

.ButtonStyle {
  background-color: #0997f5;
  border: 1px solid #06609e;
  color: white;
  height: 60px;
  width: 60px; 
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  
}

.ButtonStyle:hover {
  background-color: #077bc4;
}


.bottom-row .ButtonStyle {
    width: 130px; 
}

.screen-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.screen-row input {
  width: 90%; 
  height: 50px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  text-align: right;
  font-size: 28px;
  box-sizing: border-box; 
}

.image-container {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}